<!doctype html>
<html>
<head>
  <title>GWIQ doc</title>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="assets/highlight.css">
  <link rel="stylesheet" href="assets/style.css">
</head>
<body>
  <nav class="nav">
    <section class="nav-content">
        <hgroup>
            <h1>GWIQ.js</h1>
            <h2>Documentation</h2>
        </hgroup>
        <h3>Sections:</h3>
        {{{menu}}}
    </section>
  </nav>
  <main class="main">
    {{{content}}}
    <footer class="footer">(c) <a href="https://globalwebindex.net">GlobalWebIndex</a> 2016</footer>
  </main>
</body>
</html>
