html,
body {
    padding: 0;
    margin: 0;
    font-family: lato;
    font-size: 16px;
    background: #f3f9f9;
    height: 100%;
    line-height: 1.5em;
}

code {
    background: #e4e4e2;
    font-size: 14px;
}

pre {
    display: block;
    background: #e4e4e2;
    padding: 10px;
    overflow: scroll;
}

a,
a:visited {
    color: rgb(1, 150, 207);
}

.nav {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 300px;
    padding: 50px 0;
    overflow: hidden;
    background: #ffffff;
}

.nav header {
    padding: 20px;
    font-size: 25px;
    color: #a7a7a7;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

.nav ul ul {
    margin-left: 10px;
    font-size: .9em;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #a7a7a7;
}

.nav a {
    display: block;
    padding: 5px 20px;
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
}

.main {
    position: relative;
    margin: 0 5px 0 320px;
    padding: 30px 30px 50px 30px;
    max-width: 1000px;
    font-size: 18px;
    background: #ffffff;
    min-height: 100%;
    box-sizing: border-box;
}

main h1 {
    margin: 40px 0;
}

.main h2 {
    margin-top: 50px;
    border-bottom: 2px solid #e4e4e2;
}
